<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting Page</title>

</head>
<body>
<form action="/votingPage" method="get">
    <input type="radio" name="candidate" value="CANDIDATE1" id="cd1" /> <label for="cd1">CANDIDATE1</label> <br><br>
    <input type="radio" name="candidate" value="CANDIDATE2" id="cd2" /> <label for="cd2">CANDIDATE2</label> <br><br>
    <input type="radio" name="candidate" value="CANDIDATE3" id="cd3" /> <label for="cd3">CANDIDATE3</label> <br><br>
    <input type="radio" name="candidate" value="CANDIDATE4" id="cd4"/> <label for="cd4">CANDIDATE4</label> <br><br>
    <button>VOTE</button>
</form>


<script>
    // setTimeout(() => {
    //    window.location.href = '/login'; // Redirect to login page after session expiration
   // }, 30000); // 2 minutes in milliseconds
    </script> 
    
</body>
</html>